<div class="column is-one-fifth">
  <nav class="panel">

	<p class="panel-heading">Trends</p>
	
	<a class="panel-block" href="https://www.lavanguardia.com/">Noticias de España</a>
 	
	<a class="panel-block" href="https://www.lanacion.com.ar/">Noticias de Argentina</a>
	
	<a class="panel-block" href="https://www.latimes.com/">Noticias de EEUU</a>
	
	</nav>
</div>